.ad-page {
	flex: 1;
	display: grid;
	gap: 2.5rem;
	padding: 2.5rem;
	grid-template-columns: minmax(300px, 450px) 1fr;
	grid-template-areas:
		"top top"
		"left center"
}

.ad-main {
	grid-area: center;
	align-self: center;
	min-width: 300px;
}

.ad-left {
	grid-area: left;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: center;
	gap: 1rem;
}

.ad-top {
	grid-area: top;
}

.connect-wallet {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	display: flex;
	flex-flow: row nowrap;
	border-radius: 500px;
	width: fit-content;
	background-color: var(--gm-primary);
	color: var(--gm-black);
	padding: 4px 12px;
	cursor: pointer;
}

.gm-ad-unit {
	border-radius: 24px;
}

@media (max-width: 720px) {
	.ad-page {
		display: flex;
		flex-flow: column-reverse nowrap;
		padding: 1rem;
		gap: 1rem;
	}

	.ad-left, .ad-top {
		align-items: flex-start;
		max-width: 100%;
		overflow: scroll;
	}

	.ad-main {
		min-width: unset;
		margin-right: auto;
	}
}