#root {
	padding: 1rem 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    max-width: min(calc(100vw - 4rem), 30ch);
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-row {
    display: flex;
	flex-flow: row nowrap;
    gap: 0 5rem;
    margin-top: 20vh;
}

.flex-column {
    display: flex;
	flex-flow: column nowrap;
    max-width: min(90%, 1500px);
    height: 100%;
    gap: 1rem;
    align-items: flex-start;
}

.right {
    flex: 0 1 40ch;
    min-width: 30ch;
    align-self: flex-start;
}

.left {
    flex: 2 1 300px;
    height: max-content;
    max-width: 1000px;
}

.gm-post {
    border-radius: 12px;
}

.footer {
    padding: 5rem;
}

@media (min-width: 768px) {
	#root {
		gap: 0 5rem;
		padding: 1rem 5rem;
	}

    .flex-column {
        align-items: center;
        gap: 0;
    }
}